$bg-primary:blue;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sr-btn{
    background-color: white;
    color:$bg-primary;
    font-weight: 600;
}
.sr-btn:hover{
    background-color: white;
    color: $bg-primary;
    font-weight: 600;
}

.navbar-brand{
    font-weight: 800;
}

.cart-btn{
    margin-left: 7px;
    background-color: white;
    color: $bg-primary;
    font-weight: 600;
}

.cart-btn:hover{
    background-color: white;
    color: $bg-primary;
    font-weight: 600;
}
